.line{
  fill: none;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#header
{
	position:relative;
	text-align: center;
	font-size: 2em;
	background-color: #aec3fc;
	border-radius: 10px;
	box-shadow: 3px 3px 6px 0 #A9A9A9;
	padding: 0.2em 0em;
	margin-bottom: 0.5em;
}

#menu{
	margin-bottom: 2em;
}

#container-1, #container-2, #container-3{
	overflow : hidden;
}

#container-2{
	display: inline-block;
}

#container-3{
	display: inline-block;
	float:left;
	z-index: 1;
}

#in-options{
	padding: 1em 1em;
}
#options{
		display: inline-block;
		position: relative;
		right: 0px;
		background-color: black;
		z-index: 10;
		opacity: 0.85;
		height: 100%;
		float:left;
		color: white;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		box-shadow: 3px 3px 6px 0 #A9A9A9;
}

#mover{
	width: 200%;
	height: 100%;
	margin-left:-100%;
}

#map, #chart, #info{
	height: 100%;
	float: left;
}

#info{
	margin: 0% 1%;
	width : 8%;
	border-radius: 10px;
	box-shadow: 3px 3px 6px 0 #A9A9A9;
	padding: 0.2em 0em;
}

#map{
	width : 40%;
}

#chart{
	width : 50%;
}
/*
#mover:hover{
	margin-left:0;
	transition: 2s;
}
*/